<div *ngIf="hero" class="grid grid-cols-2 min-h-full justify-center px-6 py-12">
  <div class="flex-none w-49 relative">
    <img class="rounded-md" [src]="hero | heroImage" [alt]="hero.alterEgo">
  </div>
  <div class="flex-auto pl-6">
    <div class="flex flex-wrap">
      <h2 class="flex-auto text-lg font-semibold text-slate-900">{{hero.superhero}}</h2>
    </div>
    <div class="text-lg font-semibold text-slate-500">
      {{hero.publisher.name}}
    </div>
    <div class="text-lg font-semibold text-slate-500">
      <label class="text-slate-600">First appearance: </label>{{hero.firstAppearance}}
    </div>
    <div class="text-lg font-semibold text-slate-500">
      <label class="text-slate-600">Other names: </label>
      <span *ngFor="let name of hero.characters.split(',') | slice:0:3"
            class="inline-flex items-center rounded-md bg-slate-50 px-2 py-1 text-xs font-medium text-slate-600 ring-1 ring-inset ring-slate-500/10">
        {{name}}
      </span>
    </div>
    <div class="text-lg font-semibold text-slate-500">
      <label class="text-slate-600">Biography: </label>
      <p>{{hero.description}}</p>
    </div>
    <div class="pt-5 justify-start">
      <button (click)="goBack()"
              class="text-slate-600 hover:bg-slate-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">go
        back...
      </button>
    </div>
  </div>
</div>
