<div class="grid grid-cols-2 p-2 font-sans">
  <div class="col-auto">
    <form [formGroup]="heroForm" action="#" class="space-y-6" method="POST">
      <div class="grid grid-cols-2">
        <div class="pr-2">
          <label class="block text-sm font-medium leading-6 text-slate-700" for="superHero">Super hero *</label>
          <div class="mt-2">
            <input
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
              formControlName="superhero" id="superHero" name="superHero" required
              type="text">
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium leading-6 text-slate-700" for="alterEgo">Alter ego *</label>
          <div class="mt-2">
            <input
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
              formControlName="alterEgo" id="alterEgo" name="alterEgo" required
              type="text">
          </div>
        </div>
        <div class="pr-2">
          <label class="block text-sm font-medium leading-6 text-slate-700" for="appearance">First appearance *</label>
          <div class="mt-2">
            <input
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
              formControlName="firstAppearance" id="appearance" name="appearance" required
              type="text">
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium leading-6 text-slate-700" for="characters">Characters *</label>
          <div class="mt-2">
            <input
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
              formControlName="characters" id="characters" name="characters" required
              type="text">
          </div>
        </div>
        <div class="pr-2">
          <label class="block text-sm font-medium leading-6 text-slate-700" for="publisher">Publisher *</label>
          <div class="mt-2">
            <select
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
              formControlName="publisher" id="publisher" name="publisher"
              required>
              <option *ngFor="let pub of publishers" [value]="pub.id">{{pub.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="pr-2">
        <label class="block text-sm font-medium leading-6 text-slate-700" for="biography">Biography *</label>
        <div class="mt-2">
        <textarea class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
                  formControlName="description"
                  id="biography" name="biography" required></textarea>
        </div>
      </div>
      <div class="pr-2">
        <label class="block text-sm font-medium leading-6 text-slate-700" for="altImage">Alternative image *</label>
        <div class="mt-2">
          <input
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-slate-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-600 sm:text-sm sm:leading-6"
            formControlName="altImage" id="altImage" name="altImage"
            type="text" alt="altImage">
        </div>
      </div>
      <div class="mt-6 flex items-center justify-end gap-x-6 pr-2">
        <button class="text-sm font-semibold leading-6 text-gray-900" type="button">Cancel</button>
        <button
          class="rounded-md bg-slate-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600"
          type="submit" (click)="onSubmit()">
          Save
        </button>
      </div>
    </form>
  </div>
  <div class="col-auto pl-4">
    <div class="mt-2">
      <div class="mt-2 w-48">
        <img alt="" id="superHeroImage" [src]="currentHero | heroImage">
      </div>
    </div>
  </div>
</div>
